body {
  background-color: #111;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: #eee;
  margin: 0px;
}

.block {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  border-radius: 15px;
  border: 1px solid #888;

  padding: 15px;
}

.header {
  background-color: #333;
}

.title {

}

.version {
  font-size: 12pt;
  color: #bbb;
}

.content {
  background-color: #222;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.word {
  font-size: 50pt;
  padding-top: 15px auto;
  padding-bottom: 15px auto;
}
